@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #fff;
    --secondary: #f6f6f6;
    --text: #000;
  }

  .dark {
    --primary: #0f172a;
    --secondary: #3344;
    --text: #eee;
  }
}

body {
  @apply max-w-[100vw] overflow-x-hidden;
}

a {
  @apply text-inherit no-underline;
}

h2 {
  @apply text-base md:text-xl;
}

h1 {
  @apply text-lg md:text-2xl;
}

b {
  @apply font-semibold text-accent;
}

.ql-container {
  @apply !text-xl md:!text-2xl;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  @apply text-[#b3b3b1];
}

.scrollbar-thin::-webkit-scrollbar {
  @apply h-1;
}

.swiper-pagination-bullet {
  @apply !h-3 !w-3 !bg-primary;
}

.swiper-pagination-bullet-active {
  @apply !h-3 !w-3 !bg-primary;
}

.swiper-button-next,
.swiper-button-prev {
  @apply !text-default_text;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  @apply rounded-md px-4 py-8 transition-all hover:bg-black/30;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  @apply !cursor-not-allowed !opacity-50;
}
